<header class="header_wrapper">
    <div class="logo_section">
        <a href="/index.php" class="logo">TicketApp</a>
        <nav class="nav-links">
            <a href="/index.php?page=auth" class="nav-btn--push-right">Login</a>
            <a href="/index.php?page=auth" class="nav_btn">Get Started</a>
        </nav>
    </div>
</header>
